body {
  margin-left: auto;
  margin-right: auto; }

nav {
  background-color: black;
  height: 50px;
  margin-top: 0;
  text-align: right; }
  nav ul {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px; }
    nav ul li {
      display: inline-block;
      margin: 0 .5em;
      color: white; }

html {
  background-color: #f7f7f7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 100%; }

body {
  width: 80%;
  max-width: 1200px; }

h3 {
  margin-bottom: 5px; }

#banner {
  background-image: url("/images/comics.jpg");
  position: relative;
  height: 500px; }
  #banner img {
    width: 1200px;
    height: 500px;
    opacity: .85; }

#search {
  width: 100%;
  position: relative; }

#searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 25px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF; }
  #searchTerm :focus {
    color: #00B4CC; }

#searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 41px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px; }

#wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
