body, footer, #searchResults {
  margin-left: auto;
  margin-right: auto; }

nav {
  background-color: black;
  width: 1200px;
  height: 50px;
  margin-top: 0;
  text-align: right;
  position: relative; }
  nav #mainMenu {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px; }
    @media (min-width: 300px) {
      nav #mainMenu {
        display: none; } }
    @media (min-width: 600px) {
      nav #mainMenu {
        display: inline-block; } }
    nav #mainMenu li {
      display: inline-block;
      margin: 0 .5em;
      color: white; }
      nav #mainMenu li a {
        text-decoration: none;
        color: white; }
  @media (min-width: 300px) {
    nav {
      width: 100%; } }
  @media (min-width: 800px) {
    nav {
      width: 100%; } }

#menu {
  max-height: 0;
  background-color: black;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out; }
  @media (min-width: 300px) {
    #menu img {
      padding: 8px 25px 0 0; } }

#ul {
  display: none;
  list-style: none;
  width: 100%;
  text-decoration: none;
  position: relative;
  background-color: black;
  top: 0; }
  #ul ul {
    float: right;
    overflow: hidden; }
  #ul li {
    display: block;
    text-align: center;
    padding-bottom: 1em; }
  #ul a {
    color: white;
    text-decoration: none; }

html {
  background-color: #c4c4c4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 100%; }

body {
  max-width: 1200px;
  margin-top: 0; }

@media (min-width: 300px) {
  #container {
    width: 100%; } }

h3 {
  margin-bottom: 5px; }

footer {
  position: fixed;
  background: black;
  width: 1200px;
  height: 50px;
  bottom: 0;
  text-align: center; }
  footer p {
    font-size: 14px;
    color: #999; }
  @media (min-width: 300px) {
    footer {
      width: 100%; } }
  @media (min-width: 600px) {
    footer {
      width: 100%; } }
  @media (min-width: 800px) {
    footer {
      width: 1200px; } }

#banner {
  position: relative;
  width: 1200px;
  height: 500px;
  margin: 0; }
  @media (min-width: 300px) {
    #banner {
      width: 100%; } }
  @media (min-width: 600px) {
    #banner {
      width: 100%; } }
  @media (min-width: 800px) {
    #banner {
      width: 100%; } }
  #banner img {
    width: 1200px;
    height: 500px;
    opacity: .85; }
    @media (min-width: 300px) {
      #banner img {
        width: 100%; } }

#search {
  width: 100%;
  position: relative; }

#searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 25px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF; }
  #searchTerm :focus {
    color: #00B4CC; }

#searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 41px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px; }
  #searchButton img {
    height: 90%;
    width: 95%;
    opacity: 1; }

#wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  @media (min-width: 300px) {
    #wrap {
      width: 60%;
      left: 45%; } }
  @media (min-width: 600px) {
    #wrap {
      width: 55%;
      left: 45%; } }
  @media (min-width: 800px) {
    #wrap {
      width: 50%;
      left: 50%; } }

#searchResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  vertical-align: middle;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media (min-width: 300px) {
    #searchResults {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      font-size: 12px;
      width: 95%; } }
  @media (min-width: 600px) {
    #searchResults {
      font-size: 14px;
      margin: 0;
      width: 100%; } }
  @media (min-width: 800px) {
    #searchResults {
      font-size: 18px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

#results {
  width: 1200px;
  max-width: 1200px;
  background-color: white; }
  @media (min-width: 300px) {
    #results {
      width: 100%; } }
  @media (min-width: 600px) {
    #results {
      width: 100%; } }
  @media (min-width: 800px) {
    #results {
      width: 100%; } }

.comic {
  display: inline-block;
  float: left;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 20px auto;
  padding-left: 0.5em; }
  .comic img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 250px;
    /*@include responsive(large) {
      width: 50%;
      height: auto;
    }*/ }
  .comic .name {
    font-weight: bold; }
  @media (min-width: 600px) {
    .comic p {
      width: 85%;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 800px) {
    .comic p {
      width: 100%; } }
  @media (min-width: 300px) {
    .comic {
      width: 75%;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 600px) {
    .comic {
      width: 50%; } }
  @media (min-width: 800px) {
    .comic {
      width: 300px;
      float: left;
      display: inline-block; } }

.info {
  text-align: center;
  margin: auto; }
  @media (min-width: 800px) {
    .info {
      width: 100%; } }

#searchHeader {
  display: none;
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  background-color: #00B4CC; }
  @media (min-width: 300px) {
    #searchHeader {
      width: 100%; } }
  #searchHeader h2 {
    display: inline-block;
    padding: 10px 0 0 20px;
    margin: 0 auto;
    width: 100%; }
    @media (min-width: 300px) {
      #searchHeader h2 {
        width: 95%;
        font-size: 16px;
        padding: 15px 0 0 15px; } }
    @media (min-width: 600px) {
      #searchHeader h2 {
        padding: 15px 0 0 25px; } }
    @media (min-width: 800px) {
      #searchHeader h2 {
        width: 100%;
        font-size: 24px;
        padding: 15px 0 0 25px; } }
