// Content

#banner {
  position: relative;
  width: 1200px;
  height: 500px;

  img {
    width: 1200px;
    height: 500px;
    opacity: .85;
  }

}

#search {
  width: 100%;
  position: relative;
}

#searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 25px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;

  :focus {
    color: #00B4CC
  }

}

#searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 41px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

#wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#searchResults {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  @extend %center-element;
}

#results {
  background-color: white;
}

.comic {
  display: inline-block;
  width: 350px;
  height: auto;
  text-align: center;
  margin: 20px auto;

  img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 250px;
  }
}

#searchHeader {
  display: none;
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  background-color: #00B4CC;


  h2 {
    display: inline-block;
    padding-top: 10px;
    margin: 0 auto;
  }

}