// Content

@mixin responsive($size) {
  @if $size == small {
    @media (min-width: 300px) { @content; }
  }
  @else if $size == medium {
    @media (min-width: 600px) { @content; }
  }
  @else if $size == large {
    @media (min-width: 800px) { @content; }
  }
}



#banner {
  position: relative;
  width: 1200px;
  height: 500px;
  margin: 0;


  @include responsive(small) {
    width: 100%;
  }

  @include responsive(medium) {
    width: 100%;
  }

  @include responsive(large) {
    width: 100%;
  }

  img {
    width: 1200px;
    height: 500px;
    opacity: .85;

    @include responsive(small) {
      width: 100%;
    }

  }


}

#search {
  width: 100%;
  position: relative;
}

#searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 25px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;

  :focus {
    color: #00B4CC
  }

}

#searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 41px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;

  img {
    height: 90%;
    width: 95%;
    opacity: 1;
  }
}

#wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  @include responsive(small) {
    width: 60%;
    left: 45%;
  }

  @include responsive(medium){
    width: 55%;
    left: 45%;
  }

  @include responsive(large) {
    width: 50%;
    left: 50%;
  }

}

#searchResults {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  justify-content: flex-start;
  @extend %center-element;

  @include responsive(small) {
    flex-direction: column;
    font-size: 12px;
    width: 95%;
  }

  @include responsive(medium) {
    font-size: 14px;
    margin: 0;
    width: 100%;
  }

  @include responsive(large) {
    font-size: 18px;
    flex-direction: row;
  }

}

#results {
  width: 1200px;
  max-width: 1200px;
  background-color: white;

  @include responsive(small) {
    width: 100%;
  }

  @include responsive(medium) {
    width: 100%;
  }

  @include responsive(large) {
    width: 100%;
  }

}

.comic {
  display: inline-block;
  float: left;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 20px auto;
  padding-left: 0.5em;

  img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 250px;

  }

  .name {
    font-weight: bold;
  }

  p {
    @include responsive(medium) {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }

    @include responsive(large) {
      width: 100%
    }
  }

  @include responsive(small) {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  @include responsive(medium) {
    width: 50%;
  }

  @include responsive(large) {
    width: 300px;
    float: left;
    display: inline-block;
  }

}

.info {
  text-align: center;
  margin: auto;

  @include responsive(large) {
    width: 100%;
  }
}

#searchHeader {
  display: none;
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  background-color: #00B4CC;

  @include responsive(small) {
    width: 100%;
  }

  h2 {
    display: inline-block;
    padding: 10px 0 0 20px;
    margin: 0 auto;
    width: 100%;

    @include responsive(small) {
      width: 95%;
      font-size: 16px;
      padding: 15px 0 0 15px;
    }

    @include responsive(medium) {
      padding: 15px 0 0 25px;
    }

    @include responsive(large) {
      width: 100%;
      font-size: 24px;
      padding: 15px 0 0 25px;
    }

  }

}



